@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* { 
    margin:0;
    padding: 2px;
    box-sizing: border-box;
}
.app{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    position:fixed;
    background-image: url('https://i1.wp.com/media3.giphy.com/media/E8wm3nfbNWBdC/giphy.gif');
    background-position: center center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    color: white;
} 
.backdrop{
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.logOut{
    background-color: red;
    font-family: "Akaya Telivigala";
    
}
.loginForm{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.shopName{
    display: inline-flex;
    padding-right: 20px;
    font-family: "Akaya Telivigala";
    font-size: xx-large;
    padding-left:5px;
}
.navBtn {
    display: inline;
    font-family: "Akaya Telivigala";
    font-size: x-large;
    color: black;
}
.navSection{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.link{
    text-decoration: black underline;
}
.prodLink{
    color: black;
}
.innerbox{
    display: flex;
    flex-direction: column;
    height: auto;
}
.innerbox{
    justify-content: baseline;
    width: auto;
    padding:10px;
    height: 500px;
    width: 350px;
    align-items: center;
    font-family: 'Lobster', cursive;
    border: 5px solid black;
    background-color: red;
    border-radius: 2%;
}
 

.innerboxText{
    margin-left: 5px;
    padding-top: 10px;
}
.editFeild-inactive{
    display: none;
}
.editFeild-active{
    display: active;
}
.category{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    font-family: "Akaya Telivigala";
    font-size: x-large;
}
.categoryContainer{
    font-size: large;
}
.fp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70vh;
}
.fpImg{
    border: 5px solid black;
}
.featuredContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featuredShowBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    background-color: red;
    height: 400px;
    align-items: center;
    border: 5px solid black;
    border-radius: 2%;
    font-family: "Akaya Telivigala";
    font-size: large;
}

.fpName{
    display: flex;
    text-decoration: none;
    font-size: 15px;
    color: black;
    align-self: center;
    justify-content: center;
    font-size: medium;
}
.featuredLink{
    text-decoration: none;
    align-self: center;
}
.fpImg{
    align-self: center;
}
.home{
    font-family: "Akaya Telivigala";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    margin-top: 100px;
    
}
.userName{
   font-size: 45px;
}
.slogan{
    font-style: italic;
    color: white;
    text-decoration: underline;
    font-size: 30px;
    align-self: center;
    font-style: italic;
}
.shopName{
    color: red;
    font-size: 60px;
}
.welcome{
    display: flex;
    align-items: baseline;
}
.message{
    display: flex;
    flex-direction: column;
}
.catBox{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}
.category{
    display: flex;
    flex-direction: column;
    width: auto;
}

.individualContainer {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  
}
.showbox{
    height: auto;
    width: 50%;
    border: 5px solid black;
    border-radius: 2%;
    padding:10px;
    color: black;
    background-color: red;
}
.ip{
    display: flex;
    height: auto;
   
}
.ipText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: "Akaya Telivigala";
}
.prodPhoto{
    border: 5px solid black;
    border-radius: 2%;
}
.innerboxTextName{
    padding-bottom: 10px;
}
.innerText{
    padding-bottom: 10px;
    padding-top: 10px;
}
.submitBtn:active{
    background-color: green;
}
.quantNumber{
    display: flex;
    justify-content: center;
    width: 45px;
    height: 35px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.quantBox{
    display:flex;
    align-items: center;
}
.userBox{
    display:flex;
    border-bottom: 1px solid black;
    background-color: red;
}
.iaInteractiveBox{
    display: flex;
    flex-direction: column;
    
}
.editProductAside{
      display: flex;  
      flex-direction: column;
}

.editProductInputBox{
    height: 100px;
    width: 50%;
    word-wrap: break-word;


}
.editProductInput{
    width: 50%;
}

.confirmationPage{
    margin:0;
    display:flex;
    flex-direction: column;
    background-image: url('https://i1.wp.com/media3.giphy.com/media/E8wm3nfbNWBdC/giphy.gif');
    background-position: center center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    height: 100%;
    width: 100%;

}
.thankyouforpurchase{
    border-bottom: 1px solid black;
    color: white;
    align-self: center;
    margin-top: 10%;
    font-size: 45px;
    font-family: "Akaya Telivigala";
    font-style: italic;
}
.continueshopping{
    background-color: 0.5;
    color: white;
    margin-left: 15%;
    margin-top: 5%;
    font-family: "Akaya Telivigala";
    font-size: 30px;
}
.link_confirmation{
    color: white;
    font-family: "Akaya Telivigala";
    list-style-type: none;
    font-size: 30px;
    margin-top: 1%;
}
.navBtn_confirmation{
    text-decoration: white underline;
    margin-left: 15%;
    font-family: "Akaya Telivigala";
}
.checkout_whole{
    display: flex;
    justify-content: center; 
    font-family: "Akaya Telivigala";
}
.billing_txt{
    padding-bottom:10px ;
    padding-top: 10px;
    margin-left:5px;
}
.billing_form{
    align-items: center; 
    padding-bottom:10px ;
    padding-top: 10px;
    margin-left:5px;
}
.whole_form{
    display: flex;
    flex-direction:column;
    justify-content:center;
    background-color:red;
    width:30%; 
}
.payment_form{
    display: flex;
    flex-direction:column;
    justify-content:center;
}
.checkout_label{
    align-items: center;
    padding-top: 10px;
    margin-left:5px;
}
.checkout_input{
    align-items: center;
    width:75%;
    margin-left:5px;
}
.checkout_input_last{
    align-items: center;
    width:75%;
    margin-left:5px;
}
.checkout_confirmbtn{
    width:25%;
    border: 3px solid orangered;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: block;
    margin-top:10px;
    align-self: center;
    margin-bottom:10px;
}
.navBtn{
    color: white;
}
.userInfo{
    border: 5px inset red;
    font-family: "Akaya Telivigala";
    height: 30%;
    
}
.myprofiletxt{
    font-size: 35px;
    padding-top:10px;
    padding-left:10px;

}
.userInfo_slot{
    padding-top: 10px;
    padding-left:10px;
}
.user_input{
    font-size: 20px;
}
.orderhistory{
    display: flex;
    font-family: "Akaya Telivigala";
    flex-direction: column;
    margin-left:10%;
    margin-top: 10%;
    height:100%;
    font-style: italic;
}
.author{
    margin-left: 65%;
    margin-top:5%;
    font-size: 30px;
}
.reply{
    margin-top:5%;
    font-size: 40px;
}